**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

.git
.gitignore
.svn
.hg

**/node_modules
**/venv
**/__pycache__
**/.pytest_cache

*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.pid.lock

.idea
.vscode
*.swp
*.swo
*.bak
*.tmp
.DS_Store

dist/
build/
**/target/
Cargo.lock

Dockerfile
*.md
LICENSE
.dockerignore
